### Python Basic Syntax

In [11]:
# Print Statement
print("Hello, World!") 

# Comments
# This is a single-line comment
"""
This is a 
multi-line comment

"""

Hello, World!

'\nThis is a \nmulti-line comment\n\n'

In [7]:
t = 5+4
print(t)

9

In [17]:
# Practice Questions:
# 1. Write a program to print "Welcome to Python Programming".
print('Welcome to programming')
# 2. Write comments explaining what each line of your program does.
# "Print" is the function
# The parenthesis holds the sting, and the quotation marks signify that it is a string

Welcome to programming

### Python Variables/Constants

In [ ]:
# Variables
# Variables are used to store data that can be changed later. 
# In Python, you can assign a value to a variable using the assignment operator '='.

# Example of a variable:
x = 10
print("Variable x:", x)

In [ ]:
# You can change the value of a variable by assigning a new value to it:
x = 20
print("Updated variable x:", x)

In [ ]:
# Constants
# Constants are used to store data that should not change throughout the program. 
# By convention, constants are usually written in all uppercase letters.

# Python does not have a built-in constant type, but you can use naming conventions to indicate that a variable should be treated as a constant.

# Example of a constant:
PI = 3.14159
print("Constant PI:", PI)

In [ ]:
# Although you can technically change the value of a constant, you should avoid doing so to prevent confusion and errors in your code.
# Example (not recommended):
PI = 3.14  # This is not recommended, as it breaks the constant convention.
print("Updated constant PI (not recommended):", PI)

In [ ]:
# Practice Questions:
# 1. Create a variable `name` and assign your name to it.
# 2. Define a constant `SPEED_OF_LIGHT` and assign it the value `299792458`.

### Assigning / Reassigning value to a variable

In [21]:
# Assigning a value to a variable
age = 25

# Reassigning a value to a variable
age = 26

In [23]:
print(age)

26

In [27]:
# Practice Questions:
# 1. Assign the value 10 to a variable `a`, then reassign it to 15.
a = 10
a = 15
print(a)
# 2. Create a variable `b`, assign it the value 20, then change its value to 30.
b = 20
b = 30
print(b)

15
30

### Python Arithmetic Operators

In [33]:
a = 10
b = 3

In [35]:
# Addition
add = a + b  # 13

In [37]:
print(add)

13

In [39]:
print ("addition of a & b =", add)

addition of a & b = 13

In [51]:
# Subtraction
subtract = a - b  # 7
subtract

7

In [53]:
# Multiplication
multiply = a * b  # 30
multiply

30

In [55]:
# Division
divide = a / b  # 3.333...
divide

3.3333333333333335

In [57]:
# Modulo
# The modulo operator (%) returns the remainder of the division of two numbers.
# For example, 10 % 3 is 1 because 10 divided by 3 is 3 with a remainder of 1.

a = 10
b = 3
modulo_result = a % b
print("Modulo:", modulo_result)  # Output: 1

Modulo: 1

In [59]:
# Exponent
# The exponent operator (**) raises the first number to the power of the second number.
# For example, 2 ** 3 is 8 because 2 raised to the power of 3 is 8.

base = 2
exponent = 3
exponent_result = base ** exponent
print("Exponent:", exponent_result)  # Output: 8

Exponent: 8

In [61]:
# Floor Division
# The floor division operator (//) divides two numbers and returns the largest integer less than or equal to the result.
# For example, 10 // 3 is 3 because 10 divided by 3 is 3.333, and the floor of 3.333 is 3.

floor_division_result = a // b
print("Floor Division:", floor_division_result)  # Output: 3

Floor Division: 3

In [63]:
# Practice Questions:
# 1. Perform addition, subtraction, multiplication, and division on two numbers.
x = 45
y = 12
addition = x + y
subtraction = x - y
multiplication = x * y
division = x / y
print(addition, subtraction, multiplication, division)
# 2. Find the modulus, exponent, and floor division of two numbers.

57 33 540 3.75

### Python Comparison Operators

In [65]:
a = 10
b = 3

In [67]:
# Equal
equal = (a == b)  # False

In [69]:
equal

False

In [71]:
# Not Equal
not_equal = (a != b)  # True

In [72]:
# Greater than
greater_than = (a > b)  # True

In [75]:
# Less than
less_than = (a < b)  # False

In [77]:
# Greater than or equal to
greater_than_equal = (a >= b)  # True

In [79]:
# Less than or equal to
less_than_equal = (a <= b)  # False

In [87]:
# Practice Questions:
# 1. Compare two numbers using all the comparison operators and print the results.
c = 34
z = 56
equal = (c==z)
notequal = (c != z)
greaterthan = (c > z)
lessthan = (c < z)
greaterthanequal = (c >= z)
lessthanequal = (c <= z)
print(equal, notequal, greaterthan, lessthan, greaterthanequal, lessthanequal)
# 2. Write a program that checks if a number is greater than or equal to 18.

False True False True False True

### Python Data Types

In [ ]:
# Integers
# Integers are whole numbers without a decimal point.
integer = 10
print("Integer:", integer)

# Float
# Floats are numbers that have a decimal point.
floating_point = 10.5
print("Float:", floating_point)

# String
# Strings are sequences of characters enclosed in quotes.
string = "Hello"
print("String:", string)

# Boolean
# Booleans represent one of two values: True or False.
boolean = True
print("Boolean:", boolean)

# List
# Lists are ordered collections of items, which can be of different types. Lists are mutable, meaning you can change their content.
my_list = [1, 2, 3, 4, 5]
print("List:", my_list)

# Tuple
# Tuples are ordered collections of items, similar to lists, but they are immutable, meaning you cannot change their content once created.
my_tuple = (1, 2, 3, 4, 5)
print("Tuple:", my_tuple)

# Dictionary
# Dictionaries are collections of key-value pairs. Each key is unique and is used to access the corresponding value.
my_dict = {"name": "Alice", "age": 25}
print("Dictionary:", my_dict)

# Set
# Sets are unordered collections of unique items. They are useful for storing items where duplication is not allowed.
my_set = {1, 2, 3, 4, 5}
print("Set:", my_set)

### Python String

In [ ]:
# Single quotes
single_quote_string = 'Hello'

# Double quotes
double_quote_string = "World"

# Triple quotes
triple_quote_string = '''Hello 
World'''

In [91]:
# Practice Questions:
# 1. Create a string using single, double, and triple quotes.
single = 'Hello'
double = "Hello"
triple = '''Hello'''
# 2. Print each string.
print(single, double, triple)

Hello Hello Hello

### Python String Operations

In [93]:
string1 = "Hello"
string2 = "World"

In [97]:
# Concatenation
concat = string1 + " " + string2 + " my foot" + "3" # "Hello World"

In [101]:
concat

'Hello World my foot3'

In [105]:
# Repetition
repeat = string1 * 3  # "HelloHelloHello"

In [107]:
repeat

'HelloHelloHello'

In [109]:
"three " *3

'three three three '

In [117]:
# Slicing
slice = string1[1:4]  # "ell"
slice

'ell'

In [121]:
# Length
length = len(string1)  # 5
length

5

In [129]:
# Practice Questions:
# 1. Concatenate two strings.
stringone = 'I love'
stringtwo = ' food'
concat2 = stringone + " " + "good" + " " + stringtwo
print(concat2)
# 2. Slice a string from the 2nd to the 4th character.
slice2 = stringone[1:4]
print(slice2)
# 3. Find the length of a string.
length2 = len(stringone)
print(length2)

I love good  food
 lo
6

### Type Conversion

In [131]:
# Integer to String
num = 10
num_str = str(num)  # "10"

In [133]:
# String to Integer
str_num = "10"
num_int = int(str_num)  # 10

In [135]:
# Float to Integer
float_num = 10.5
int_num = int(float_num)  # 10

In [137]:
# Integer to Float
int_to_float = float(num)  # 10.0

In [145]:
# Practice Questions:
# 1. Convert a float to an integer.
floatnum = 13.2
floatint = int(floatnum)
print(floatint)
# 2. Convert a string to an integer.
string = ""
# 3. Convert an integer to a string.

TypeError: 'int' object is not callable

### Boolean values

In [ ]:
is_python_fun = True
is_sky_green = False

In [ ]:
# Boolean expressions
bool_expr1 = (10 > 5)  # True
bool_expr2 = (10 < 5)  # False

In [ ]:
# Practice Questions:
# 1. Create two boolean variables, one True and one False.
# 2. Write a program that prints the result of a boolean expression (e.g., 10 > 3).